body
{
    background-image: url("../pics/bg5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}



#main
{
    
    
}


.windowContainer
{
    width: 300px;
    height: 450px;
    border: 1px solid #000;
    position: absolute;
    display: flex;
    flex-direction: column;
    resize: both;
    overflow: auto;
}


.windowHeader
{
    
    width: auto;
    height: 25px;
    background-color: #00245A;
    border-bottom: 1px solid #000;
    flex-shrink: 0;
    
}


.windowHeader .title
{
    width: 100px;
    height: 100%;
    color: #fff;
    font-size: 11px;
    font-style: bold;
    font-family: verdana;
    float: left;
    text-align: center;
    vertical-align: middle;
}

.windowHeader .title .titlePic{
    width: 20px;
    height: 20px;
    float: left;
}

.windowHeader .close
{
    width: 35px;
    height: 100%;
    background-color: #000F26;
    font-size: 11px;
    color: #fff;
    font-style: bold;
    font-family: verdana;
    float: right;
     text-align: center;
    vertical-align: middle;
}


.windowHeader .close:hover
{
     background-color: #0047B2;
    
}


.windowMain
{
    overflow: auto;
   flex-grow: 1;
    background-color: #fff;
    resize: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
}


.windowFooter
{
    width: auto;
    height: 25px;
    background-color: #00245A;
    border-top: 1px solid #000;
    font-size: 11px;
    color: #fff;
    font-style: bold;
    font-family: verdana;
    
    
    flex-shrink: 0;
    pointer-events: none;
}





.windowFooter img{
    height: 20px;
    width: 20px;
}


.menyBarContainer
{
    height: 40px;
    width: 100%;
  /*  background-color: #00245A; */
    background-color: rgba(0, 20, 75, 0.9);
    border-top: solid 2px #000;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    
}
 .menyBarContainer img{
     width: 45px;
     height: 45px;
 }

.menyBar
{
    width: auto;
    display: flex;
    
    font-size: 11px;
    color: #fff;
    font-style: bold;
    font-family: verdana;
    
    
    flex-direction: row;
    flex-grow: 1;
    
    justify-content: center;
    align-items: center;
    
   
    
}


.menyBar img
{
    width: 25px;
    height: 25px;
    margin-right: 10px;
    
}

.menyBar img:hover
{
    transform: scale(1.1 , 1.1);
    color: #fff;
    
}




.imageBox {
   background-color: #000;
    margin-top: 6px;
    margin-bottom: 6px;
    
    text-align: center;
    width: 82px;
    height: 62px;
    
}

.imageBox img{
    
    margin-top: 5px;
    
}



.imageViewer {
    
    display: inline-block;
    
}


.windowMain .showRss h2{
    
    
    text-size: 10px;
}


.showRss h2{
    
    font-size: 16px;
    text-decoration: bold, underline;
    
}

.showRss{
    
    font-size: 12px;
    
    
}

.showTV h2{
    
    font-size: 16px;
    text-decoration: bold, underline;
    
}

.showTV{
    
    font-size: 12px;
    
    
}

.showTweet h2{
    
    font-size: 16px;
    text-decoration: bold, underline;
    
}

.showTweet{
    
    font-size: 12px;
    
    
}